.header {
    max-width: 1184px;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 48px;
  }
  
  @media screen and (max-width: 3840px) {
    .header {
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 1280px) {
    .header {
      margin: 0 48px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .header {
      max-width: 928px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .header {
      max-width: 720px;
      margin: 28px 24px 0;
    }
  }
  
  @media screen and (max-width: 320px) {
    .header {
      max-width: 288px;
      margin: 16px 16px 0;
    }
  }