.footer__copyright {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

@media screen and (max-width: 750px) {
  .footer__copyright {
    margin-top: 48px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    max-width: 186px;
    flex-direction: column;
    line-height: 14px;
  }
}